@CHARSET "ISO-8859-1";
html {
	font-family: arial, sans-serif;
	font-size: 1em;
}

table
{
	display: inline-block; /* affichage des tableau cote à cote */
	border-collapse:collapse;
	border-spacing: 20px;
	font-size: 1em;
width:100%;
max-width:700px;
min-width:400px;
text-align:center;
}

caption
{
caption-side:bottom;
font-weight:bold;
font-style:italic;
margin:4px;
}

table,th, td
{
border: 1px solid gray;
		padding: 0.5em;
}

th, td
{
height: 24px;
padding:4px;
vertical-align:middle;
}

th
{
background-image:url(table-shaded.png);
color: #990000;
}

.rowtitle
{
background: #9CF;
font-weight:bold;
}


a { 
 text-decoration:none; 
} 

a:visited {
	color: black;
}

a:link {
	color: black;
}

a:hover {
	text-decoration:underligne; 
}

/* formulaire : class .eni-form */
.eni-form {
	padding: 8px;
	max-width: 400px;
	border: 1px solid navy;
	margin: auto;
}
	
.eni-form label {
	display: inline-block;
	width: 120px;
	padding: .5em 0;
	vertical-align: top;
}	
.eni-form > input:not([type="checkbox"]),
.eni-form select,
.eni-form textarea {
	display: inline-block;
	width: 272px;
	box-sizing: border-box;
	vertical-align: top;
	margin: .5em 0;
}	
.eni-form fieldset label {
	width: 80px;
}	
.col-left {
	margin-left: 50%;
}
.col-right {
	float: left;
	width: 50%;
}